$app-background-color: #F1F1F1;
$primary-color: #737B84;
$secondary-color: #B4B4B4;
$divider-color: #EBEBEB;
$footer-background-color: rgba(#F1F1F1, 0.5);
$box-shadow-color: rgba(#333333, 0.1);

$header-background-color: white;
$card-background-color: white;