$app-background-color: #F1F1F1;
$header-background-color: white;
$divider-color: #EBEBEB;

$logo-height: 24px;
$header-padding: 15px;
$header-height: $logo-height + ($header-padding * 2);

$cards-margin: 20px;

$loader-url: '../../assets/loader.svg';

section.app {
  font-family: Helvetica;
  text-align: center;
  height: 100%;
  margin: auto;
}

header {
  border-bottom: 1px solid $divider-color;
  padding: $header-padding 0;
  background-color: $header-background-color;
  height: $header-height;
}

header img {
  height: $logo-height;
}

main {
  background-color: $app-background-color;
  position: absolute;
  bottom: 0;
  top: $header-height;
  overflow: auto;
  width: 100%;
}

main ul.citiesList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

main ul.citiesList li {
  margin: $cards-margin; 
}

@media (min-width: 768px) {
  /* Show elements in row in tablets (768px) and bigger screens */
  main ul.citiesList {
    flex-direction: row;
    flex-wrap: wrap;

    /* absolute center */
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
}

#loading {
    display : none;
}
#loading[showLoading] {
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url($loader-url);
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}